<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <style>
        .log-wrapper {
            overflow-y: scroll;
            overflow-x: hidden;
        }
        body {
            margin-top: 20px;
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
</head>
<body>
    <div id="app" class="container-fluid">

        <div class="row">
            <div class="col-sm-6">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Insert</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Select</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="count-tab" data-toggle="tab" href="#count" role="tab" aria-controls="count" aria-selected="false">Count</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Delete</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="form-group">
                            <label>Method: </label><br />
                            <div class="form-check form-check-inline" v-for="(met, i) in methods" :key="i">
                                <input v-model="method" class="form-check-input" type="radio" name="method" :id="'method-' + met" :value="met">
                                <label class="form-check-label" :for="'method-' + met">{{ met }}</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Type: </label><br />
                            <div class="form-check form-check-inline" v-for="(t, i) in types" :key="i">
                                <input v-model="type" class="form-check-input" type="radio" name="type" :id="'type-' + t" :value="t">
                                <label class="form-check-label" :for="'type-' + t">{{ t }}</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Amount: </label><br />
                            <input type="number" class="form-control" v-model="amount" />
                        </div>

                        <div class="form-group">
                            <button @click.prevent="insert" :disabled="submitting">{{ submitting ? 'Submitting' : 'Submit' }}</button>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="form-group">
                            <label>Method: </label><br />
                            <div class="form-check form-check-inline" v-for="(met, i) in selectMethods" :key="i">
                                <input v-model="method" class="form-check-input" type="radio" name="method2" :id="'method-' + met" :value="met">
                                <label class="form-check-label" :for="'method-' + met">{{ met }}</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Type: </label><br />
                            <div class="form-check form-check-inline" v-for="(t, i) in types" :key="i">
                                <input v-model="type" class="form-check-input" type="radio" name="type2" :id="'type-' + t" :value="t">
                                <label class="form-check-label" :for="'type-' + t">{{ t }}</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <button @click.prevent="select" :disabled="submitting">{{ submitting ? 'Submitting' : 'Submit' }}</button>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="count" role="tabpanel" aria-labelledby="count-tab">
                        <div class="row">
                            <div class="col-sm-4" v-for="(t, i) in types" :key="i">
                                <p class="text-center">{{ counts[t] }}</p>
                                <button @click.prevent="count(t)" :disabled="submitting">{{ submitting ? 'Submitting' : t }}</button>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        <div class="form-group">
                            <label>Type: </label><br />
                            <div class="form-check form-check-inline" v-for="(t, i) in types" :key="i">
                                <input v-model="type" class="form-check-input" type="radio" name="type3" :id="'type-' + t" :value="t">
                                <label class="form-check-label" :for="'type-' + t">{{ t }}</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <button @click.prevent="del" :disabled="submitting">{{ submitting ? 'Submitting' : 'Submit' }}</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <h3>Logs</h3>
                <div class="log-wrapper" :style="{'max-height': maxHeight + 'px', 'min-height': maxHeight + 'px'}" ref="log">
                    <ul v-if="logs.length > 0" class="list-group">
                        <li v-for="(log, i) in logs" :key="i" class="list-group-item" v-html="log"></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: function() {
                return {
                    currMode: 'insert',
                    modes: ['insert', 'select', 'delete'],
                    methods: ['jdbc', 'repo', 'em'],
                    selectMethods: ['jdbc', 'jdbc-single', 'repo', 'repo-single', 'em', 'em-single'],
                    method: 'jdbc',
                    types: ['normal', 'sequence', 'noid'],
                    type: 'normal',
                    amount: 10000,
                    logs: [],
                    submitting: false,
                    maxHeight: 1000,
                    counts: {
                        normal: 0,
                        sequence: 0,
                        noid: 0
                    }
                }
            },

            mounted: function() {
                let that = this;
                window.addEventListener('resize', function(e) {
                    that.maxHeight = window.innerHeight - 100;
                });

                setTimeout(function() {
                    that.maxHeight = window.innerHeight - 100;
                }, 2000);
            },

            methods: {
                switchMode: function (mode)
                {
                    this.currMode = mode;
                },

                addLog: function(message, pop)
                {
                    if (pop) {
                        this.logs.pop();
                    }
                    this.logs.push(message);

                    let that = this;

                    setTimeout(function() {
                        that.$refs.log.scrollTop = that.$refs.log.scrollHeight;
                    }, 100);
                },

                insert: function()
                {
                    this.submitting = true;

                    let params = {
                        method: this.method,
                        type: this.type,
                        amount: this.amount
                    };

                    this.addLog(`<strong>[INSERTING] ${this.method}, ${this.type}, ${this.amount}...</strong>`);

                    let startTime = new Date().getTime();
                    this.$http.get('/test/insert/', { params: params }).then(function(resp) {
                        let finishTime = new Date().getTime();
                        let time = (finishTime - startTime) / 1000;
                        this.addLog(`<strong>[INSERT] ${this.method}, ${this.type}, ${this.amount}</strong><br />${time}s`, true);
                        this.submitting = false;
                    })
                },

                select: function()
                {
                    this.submitting = true;

                    let params = {
                        method: this.method,
                        type: this.type
                    };

                    this.addLog(`<strong>[SELECTING] ${this.method}, ${this.type}...</strong>`);

                    let startTime = new Date().getTime();
                    this.$http.get('/test/select/', { params: params }).then(function(resp) {
                        let finishTime = new Date().getTime();
                        let time = (finishTime - startTime) / 1000;
                        this.addLog(`<strong>[SELECT] ${this.method}, ${this.type}</strong><br />${time}s`, true);
                        this.submitting = false;
                    })
                },

                del: function()
                {
                    this.submitting = true;

                    let params = {
                        type: this.type
                    };

                    this.addLog(`<strong>[DELETING] ${this.type}...</strong>`);

                    let startTime = new Date().getTime();
                    this.$http.get('/test/delete/', { params: params }).then(function(resp) {
                        let finishTime = new Date().getTime();
                        let time = (finishTime - startTime) / 1000;
                        this.addLog(`<strong>[DELETE] ${this.type}</strong><br />${time}s`, true);
                        this.submitting = false;
                    })
                },

                count: function(type)
                {
                    this.submitting = true;

                    let params = {
                        type: type
                    };

                    this.$http.get('/test/count', { params: params }).then(function(resp) {
                        this.counts[type] = parseInt(resp.body);
                        this.submitting = false;
                    })
                }
            }
        })
    </script>
</body>
</html>